
<% if biru_icon == "around_building" %>
  <!-- 物件種別  -->
  <table class="table table-striped table-bordered table-condensed" >
    <thead>
      <tr>
        <th width="50" style="text-align:center;"><label>アイコン</label></th>
        <th width="100" style="text-align:center;"><label>ー</label></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><%= image_tag('place_school.png') %></td>
        <td style="text-align:center">学校</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('place_restrant.png') %></td>
        <td style="text-align:center">飲食店</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('place_market.png') %></td>
        <td style="text-align:center">スーパー・食料品店</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('place_convenience.png') %></td>
        <td style="text-align:center">コンビニ</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('place_etc.png') %></td>
        <td style="text-align:center">その他のお店</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('place_hear_salon.png') %></td>
        <td style="text-align:center">美容院</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('place_hospital.png') %></td>
        <td style="text-align:center">歯医者</td>
      </tr>
      <tr>
        <td style="text-align:center"><%= image_tag('place_hospital.png') %></td>
        <td style="text-align:center">病院</td>
      </tr>
    </tbody>
  </table>


<% end %>


