

<!-- 間取りを検索します -->
<div class="row" style="margin-left:0px;">
<div class="col-lg-12 well" style="height:500px;">
    <legend>物件種別<span style="font-size:x-small;padding-left:20px;">※全て未チェックは全選択</span></legend>

    <div id="build_type" class="checkbox" style="padding-left:30px;">
      <div style="float: left;">
        <label><%= check_box_tag('build_type[apart]', '01020', @build_type_checked[:apart], {}) %>アパート</label>
        <label><%= check_box_tag('build_type[man]', '01010', @build_type_checked[:man], {}) %>マンション</label>
        <label><%= check_box_tag('build_type[bman]', '01015', @build_type_checked[:bman], {}) %>分譲M</label>
        <label><%= check_box_tag('build_type[tenpo]', '01040', @build_type_checked[:tenpo], {}) %>店舗</label>
        <label><%= check_box_tag('build_type[jimusyo]', '01050', @build_type_checked[:jimusyo], {}) %>事務所</label>
        <label><%= check_box_tag('build_type[kojo]', '01055', @build_type_checked[:kojo], {}) %>工場</label>
        <label><%= check_box_tag('build_type[soko]', '01060', @build_type_checked[:soko], {}) %>倉庫</label>
      </div>
      <div style="padding-left:110px;">
        <label><%= check_box_tag('build_type[kodate]', '01025', @build_type_checked[:kodate], {}) %>戸建て</label>
        <label><%= check_box_tag('build_type[terasu]', '01030', @build_type_checked[:terasu], {}) %>テラスハウス</label>
        <label><%= check_box_tag('build_type[mezo]', '01035', @build_type_checked[:mezo], {}) %>メゾネット</label>
        <label><%= check_box_tag('build_type[ten_jyu]', '01045', @build_type_checked[:ten_jyu], {}) %>店舗付住宅</label>
        <label><%= check_box_tag('build_type[soko_jimu]', '01065', @build_type_checked[:soko_jimu], {}) %>倉庫事務所</label>
        <label><%= check_box_tag('build_type[kojo_soko]', '01070', @build_type_checked[:kojo_soko], {}) %>工場倉庫</label>
        <label><%= check_box_tag('build_type[syakuti]', '01085', @build_type_checked[:syakuti], {}) %>定期借地</label>
      </div>
    </div>

    <br/>
    <legend>間取り<span style="font-size:x-small;padding-left:20px;">※全て未チェックは全選択</span></legend>

    <div id="layout_type" class="checkbox"  style="padding-left:30px;">
      <div style="float: left;">
        <label><%= check_box_tag('layout_type[layout_1r]', 5, @layout_type_checked[:layout_1r], {}) %>1R</label>
        <label><%= check_box_tag('layout_type[layout_1k]', 10, @layout_type_checked[:layout_1k], {}) %>1K</label>
        <label><%= check_box_tag('layout_type[layout_2k]', 20, @layout_type_checked[:layout_2k], {}) %>2K</label>
        <label><%= check_box_tag('layout_type[layout_3k]', 30, @layout_type_checked[:layout_3k], {}) %>3K</label>
        <label><%= check_box_tag('layout_type[layout_4k]', 40, @layout_type_checked[:layout_4k], {}) %>4K〜</label>
      </div>
      <div style="padding-left:30px;float:left;">
        <label>&nbsp;</label>
        <label><%= check_box_tag('layout_type[layout_1dk]', 11, @layout_type_checked[:layout_1dk], {}) %>1DK</label>
        <label><%= check_box_tag('layout_type[layout_2dk]', 21, @layout_type_checked[:layout_2dk], {}) %>2DK</label>
        <label><%= check_box_tag('layout_type[layout_3dk]', 31, @layout_type_checked[:layout_3dk], {}) %>3DK</label>
        <label><%= check_box_tag('layout_type[layout_4dk]', 41, @layout_type_checked[:layout_4dk], {}) %>4DK〜</label>
      </div>
      <div style="padding-left:30px;float:left;">
        <label>&nbsp;</label>
        <label><%= check_box_tag('layout_type[layout_1ldk]', 12, @layout_type_checked[:layout_1ldk], {}) %>1LDK</label>
        <label><%= check_box_tag('layout_type[layout_2ldk]', 22, @layout_type_checked[:layout_2ldk], {}) %>2LDK</label>
        <label><%= check_box_tag('layout_type[layout_3ldk]', 32, @layout_type_checked[:layout_3ldk], {}) %>3LDK</label>
        <label><%= check_box_tag('layout_type[layout_4ldk]', 42, @layout_type_checked[:layout_4ldk], {}) %>4LDK〜</label>
      </div>
    </div>


        <!-- 1R〜1LDK -->
  <!--
        <div style="padding-bottom:5px;"><label><%= check_box_tag('group[siten01]', 99, false, {}) %><span style="font-weight: bolder;">1R〜1LDK</span></label></div>
        <div id="shop_list" class="checkbox" style="padding-bottom:20px;">

          <div id="tobu_siten" style="float:left;">
            <div id="tobu_soth" >
              <label><%= check_box_tag('layout[t100]', '18100', {}) %>1R</label>
              <label><%= check_box_tag('layout[t120]', '18120', {}) %>1LDK</label>
            </div>
          </div>

          <div id="sai_siten" style="padding-left:50px;float:left;">
            <div id="sai_soth">
              <label><%= check_box_tag('layout[t105]', '18105', {}) %>1K</label>
              <label><%= check_box_tag('layout[t125]', '18125', {}) %>1SLDK</label>
            </div>
          </div>

          <div id="chiba_siten" style="padding-left:170px;">
            <div id="chiba_center">
              <label><%= check_box_tag('layout[t110]', '18110', {}) %>1DK</label>
            </div>
          </div>
        </div>
  -->

        <!-- 2R〜1LDK -->
  <!--
        <div style="padding-bottom:5px;padding-top:30px;float: none;"><label><%= check_box_tag('group[siten02]', 99, false, {}) %><span style="font-weight: bolder;">2K〜2LDK</span></label></div>
        <div id="shop_list" class="checkbox" style="padding-bottom:20px;">

          <div id="tobu_siten" style="float:left;">
            <div id="tobu_soth" >
              <label><%= check_box_tag('layout[t0xx]', '18200', {}) %>2K</label>
              <label><%= check_box_tag('layout[t0xx]', '18215', {}) %>2LDK</label>
            </div>
          </div>

          <div id="sai_siten" style="padding-left:50px;float:left;">
            <div id="sai_soth">
              <label><%= check_box_tag('layout[t0xx]', '18205', {}) %>2DK</label>
              <label><%= check_box_tag('layout[t0xx]', '18220', {}) %>2SLDK</label>
            </div>
          </div>

          <div id="chiba_siten" style="padding-left:170px;">
            <div id="chiba_center">
              <label><%= check_box_tag('layout[t0xx]', '18210', {}) %>2SDK</label>
            </div>
          </div>
        </div>
  -->


</div>
</div>

