<% content_for :header do %>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3&language=ja&libraries=visualization&client=gme-chuobuildingkanri"></script>
<%#= stylesheet_link_tag('jquery-themes/flick/jquery.ui.theme') %>

<%#= stylesheet_link_tag('jquery-themes/pepper-grinder/jquery.ui.theme') %>


<%#= stylesheet_link_tag('jquery-themes/cupertino/jquery-ui') %>
<%#= stylesheet_link_tag('jquery-themes/start/jquery-ui') %>


<script type="text/javascript">

// アイコンを変更します。
function change_icon(){

  // ajaxで凡例を変更
  document.forms['biru_icon'].s_commit.click();

  // コンボボックスで選択されたものにgooglemapのアイコンを変更
  change_biru_icon($('#biru_icon_id [name=disp_type]').val());

}

// 建物のアイコンを変更します。
function change_biru_icon(type){
  if(type == "siten"){
    // 支店表示
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].siten_icon );
    };
  }else if(type == "area"){
    // エリア表示
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].area_icon );
    };
  } else if(type == "shop" ){
    // 営業所表示
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].shop_icon );
    };

  } else if(type == "biru_kind" ){
    // 建物種別のアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].build_type_icon );
    };
  } else if( type == "manage_type") {
    // 管理方式のICONを返しますのアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].manage_icon );
    };
  } else if( type == "num") {
    // 管理戸数のアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].kanri_room_num );
    };
  } else if( type == "aki") {
    // 空室のアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].free_room );
    };
  } else if( type == "age") {
    // 築年月のアイコンにする。
    for(var item in build_arr){
      build_arr[item].setIcon(build_arr[item].biru_age );
    };

	} else if( type == "junkai_seisou") {
		// 巡回清掃
		for(var item in build_arr){
			build_arr[item].setIcon(build_arr[item].trust_mente_junkai_seisou );
  		};

	} else if( type == "kyusui_setubi") {
		// 給水設備
		for(var item in build_arr){
			build_arr[item].setIcon(build_arr[item].trust_mente_kyusui_setubi );
  		};

	} else if( type == "tyosui_seisou") {
		// 貯水槽清掃
		for(var item in build_arr){
			build_arr[item].setIcon(build_arr[item].trust_mente_tyosui_seisou );
  		};

	} else if( type == "elevator_hosyu") {
		// エレベータ点検
		for(var item in build_arr){
			build_arr[item].setIcon(build_arr[item].trust_mente_elevator_hosyu );
  		};

	} else if( type == "bouhan_camera") {
		// 防犯カメラ
		for(var item in build_arr){
			build_arr[item].setIcon(build_arr[item].trust_mente_bouhan_camera );
  		};
	} else {
    // 何もしない
  }

}



//--------------------------
// アイコンの設定
//--------------------------

// 空室割合
function get_icon_free_room(kosuu, aki){
  var flt;
  var icon;
  flt = aki / kosuu;

  if(flt == 0){
      icon = 'marker_blue.png';
  }else if( 0 < flt && flt <= 0.3 ){
      icon ='marker_green.png';
  }else if( 0.3 < flt && flt <= 0.6){
      icon ='marker_orange.png';
  }else if( 0.6 < flt && flt <= 0.9){
      icon ='marker_orange.png';
  }else if( 0.9 < flt && flt <= 1){
      icon ='marker_red.png';
  }else{
      icon ='marker_white.png';
  }

  icon = '/biruweb/assets/' + icon;

  return icon;

}


// 戸数
function get_icon_kanri_room_num(num){
  var icon;

  if(num == 1){
    icon ='marker_purple.png';
  }else if( 2 <= num && num <= 4){
      icon = 'marker_blue.png';
  }else if( 5 <= num && num <= 6){
      icon ='marker_green.png';
  }else if( 6 <= num && num <= 8){
      icon ='marker_yellow.png';
  }else if( 8 <= num && num <= 10){
      icon ='marker_orange.png';
  }else if( 11 <= num && num <= 15){
      icon ='marker_red.png';
  }else if( 16 <= num && num <= 20){
      icon ='marker_gray.png';
  }else if( 21 <= num ){
      icon ='marker_gray.png';
  }else{
      icon ='marker_white.png';
  }

  icon = '/biruweb/assets/' + icon;

  return icon;
}

// 空室割合
function get_icon_free_room(kosuu, aki){
  var flt;
  var icon;
  flt = aki / kosuu;

  if(flt == 0){
      icon = 'marker_blue.png';
  }else if( 0 < flt && flt <= 0.3 ){
      icon ='marker_green.png';
  }else if( 0.3 < flt && flt <= 0.6){
      icon ='marker_orange.png';
  }else if( 0.6 < flt && flt <= 0.9){
      icon ='marker_orange.png';
  }else if( 0.9 < flt && flt <= 1){
      icon ='marker_red.png';
  }else{
      icon ='marker_white.png';
  }

  icon = '/biruweb/assets/' + icon;
  return icon;

}

// 築年数アイコン
function get_icon_biru_age(age){
  var icon;

  if(0<= age && age <= 1){
      icon = 'marker_blue.png';
  }else if( 2 <= age && age <= 5){
      icon ='marker_green.png';
  }else if( 6 <= age && age <= 10){
      icon ='marker_yellow.png';
  }else if( 11 <= age && age <= 20){
      icon ='marker_orange.png';
  }else if( 21 <= age && age <= 30){
      icon ='marker_purple.png';
  }else if( 31 <= age && age <= 40){
      icon ='marker_red.png';
  }else if( 41 <= age ){
      icon ='marker_gray.png';
  }else{
      icon ='marker_white.png';
  }

  icon = '/biruweb/assets/' + icon;

  return icon;
}


// 営業所
function get_icon_shop(num){
  var icon;

  if( num == 3 ){
    icon = 'marker_blue.png'; // 草加
  }else if (num == 11 ){
    icon = 'marker_yellow.png'; // 新田
  }else if (num == 16 ){
    icon = 'marker_purple.png'; // 北千住
  }else if (num == 1 ){
    icon = 'marker_red.png'; // 南越谷
  }else if (num == 18 ){
    icon = 'marker_orange.png'; // 越谷
  }else if (num == 8 ){
    icon = 'marker_green.png'; // 北越谷
  }else if (num == 21 ){
    icon = 'marker_white.png'; // せんげん台
  }else if (num == 7 ){
    icon = 'marker_gray.png'; // 春日部
  }else if (num == 2 ){
    icon = 'marker_blue.png'; // 戸田
  }else if (num == 5 ){
    icon = 'marker_yellow.png'; // 武蔵
  }else if (num == 15 ){
    icon = 'marker_purple.png'; // 川口
  }else if (num == 17 ){
    icon = 'marker_red.png'; // 与野
  }else if (num == 13 ){
    icon = 'marker_orange.png'; // 浦和
  }else if (num == 10 ){
    icon = 'marker_green.png'; // 東浦和
  }else if (num == 6 ){
    icon = 'marker_white.png'; // 東川口
  }else if (num == 14 ){
    icon = 'marker_gray.png'; // 戸塚安行
  }else if (num == 19 ){
    icon = 'marker_blue.png'; // 松戸
  }else if (num == 4 ){
    icon = 'marker_yellow.png'; // 北松戸
  }else if (num == 9 ){
    icon = 'marker_purple.png'; // 柏
  }else if (num == 12 ){
    icon = 'marker_red.png'; // 南流山
  }else if (num == 91 ){
    icon = 'marker_purple.png'; // 法人課
  }else {
    icon = 'marker_white.png'; // 不明
  }

  icon = '/biruweb/assets/' + icon;
  return icon;
}

// エリア
function get_icon_area(num){
  var icon;

  if( num == 3 || num == 11 || num == 16 ){
    icon = 'marker_blue.png'; // 東武南
  }else if (num == 1 || num == 18 ){
    icon = 'marker_yellow.png'; // 東武中央
  }else if (num == 8 || num == 21 || num == 7){
    icon = 'marker_purple.png'; // 東武北
  }else if (num == 2 || num == 5 || num == 15){
    icon = 'marker_red.png'; // さいたま南
  }else if (num == 17 || num == 13  ){
    icon = 'marker_orange.png'; // さいたま北
  }else if (num == 10 || num == 6 || num == 14 ){
    icon = 'marker_green.png'; // さいたま東
  }else if (num == 19 || num == 4 ){
    icon = 'marker_white.png'; // 常磐西
  }else if (num == 9 || num == 12){
    icon = 'marker_gray.png'; // 常磐中央
  }else if (num == 91 ){
    icon = 'marker_green.png'; // 法人課
  }else {
    icon = 'marker_white.png'; // 不明
  }

  icon = '/biruweb/assets/' + icon;
  return icon;

}

// 支店
function get_icon_siten(num){
  var icon;

  if( num == 3 || num == 11 || num == 16 || num == 1 || num == 18 || num == 8 || num == 21 || num == 7 ){
    icon = 'marker_green.png'; // 東武支店
  }else if (num == 2 || num == 5 || num == 15 || num == 17 || num == 13 || num == 10 || num == 6 || num == 14){
    icon = 'marker_blue.png'; // さいたま支店
  }else if (num == 19 || num == 4 || num == 9 || num == 12){
    icon = 'marker_yellow.png'; // 千葉支店
  }else if (num == 91 ){
    icon = 'marker_purple.png'; // アセットマネジメント部
  }else {
    icon = 'marker_white.png'; // 不明
  }

  icon = '/biruweb/assets/' + icon;
  return icon;

}

// 定期メンテのアイコンを作ります
function get_icon_teiki_mente(num){

	var icon;
	
	if(num > 0){
	    icon = 'marker_blue.png'; // 千葉支店
	}else{
	    icon = 'marker_gray.png'; // 不明
	}
	
    icon = '/biruweb/assets/' + icon;
    return icon;

}


// Infoウィンドウに設定します
function setInfoWnd(marker, msg){
    google.maps.event.addListener(marker, "click", function(){
      infoWnd.setContent(msg);
      infoWnd.open(marker.getMap(), marker);
    });
}

// posからpositionオブジェクトを返します。
function getCoords(position) {
    return new google.maps.LatLng(position.latitude, position.longitude);
}


  function write_build(biru)
  {
    document.getElementById("m_name").innerText=biru;
  }

  // ズームを変更する maker_kind 1:建物 2:貸主
  function changeZoom(marker_id, maker_kind) {

    var marker;

    if(maker_kind == 1){
      marker = build_arr[marker_id];
    }
    else{
      marker = owner_arr[marker_id];
    }

    mapCanvas.panTo(marker.position);
    mapCanvas.setZoom(18);
  }


  //-------------------
  // グローバル変数定義
  //-------------------
  var convert_shop = [];
  
  function initialize(){
	
  	// ストリートビューの分割を縦に
  	street_vew_vertical = true;
	
    // 初期化処理
    // init_process();

    // 初期表示は非表示
    init_display();
	
    // 地図・ストリートビューを作成します。
    init_map(<%= @biru_user.id %>,  false);


    // 初期表示位置を調整
    var bounds = new google.maps.LatLngBounds();

    /* 建物オブジェクトを作成 */
    build_arr = {}; // グローバル
    kyori_text = ""
    var pos;
    var idx = 0;
    var biru_latlngs = [];
    var populations = [];

    var building_to_owners = gon.building_to_owners
	
    gon.buildings.forEach(function(building){
        pos = new google.maps.LatLng(building.latitude, building.longitude);

        bounds.extend(pos);
		
		shop_code = parseInt(building.shop_code);
		
        build_arr[building.id] = createMarker({
          position : pos
          ,map : mapCanvas
          ,icon : building.build_type_icon
          ,siten_icon : get_icon_siten(shop_code)
          ,area_icon : get_icon_area(shop_code)
          ,shop_icon : get_icon_shop(shop_code)
		  ,build_type_icon : building.build_type_icon
		  ,manage_icon : building.manage_type_icon
          ,kanri_room_num  : get_icon_kanri_room_num(building.room_cnt)

		,trust_mente_junkai_seisou  : get_icon_teiki_mente(building.trust_mente_junkai_seisou)
		,trust_mente_kyusui_setubi  : get_icon_teiki_mente(building.trust_mente_kyusui_setubi)
		,trust_mente_tyosui_seisou  : get_icon_teiki_mente(building.trust_mente_tyosui_seisou)
		,trust_mente_elevator_hosyu  : get_icon_teiki_mente(building.trust_mente_elevator_hosyu)
		,trust_mente_bouhan_camera  : get_icon_teiki_mente(building.trust_mente_bouhan_camera_icon)
			
          ,free_room : get_icon_free_room(building.room_cnt, building.free_cnt)
          ,biru_age : get_icon_biru_age(building.biru_age)
          ,shadow : '/biruweb/assets/marker_shadow.png'
          ,html : info_msg_biru(building, building_to_owners[building.id])
          ,visible : true
        });


        biru_latlngs[idx] = pos;
        idx = idx + 1;
    });


    /* 貸主オブジェクトを作成 */
    owner_arr = {}; // varを外してグローバル化
    var owner_to_buildings = gon.owner_to_buildings
	
    gon.owners.forEach(function(owner){
      pos = new google.maps.LatLng(owner.latitude, owner.longitude);

      owner_arr[owner.id] = createMarker({
        position : pos
        ,map : mapCanvas
        ,icon : '/biruweb/assets/marker_owner.png'
        ,html : info_msg_owner(owner, owner_to_buildings[owner.id])
        ,visible : false
      });
	});

    /* 委託契約CDのラインを引く */
    trust_arr = {}; // varを外してグローバル化
	gon.trusts.forEach(function(trust){

      // 貸主マスタ・建物マスタに委託で指定した貸主CD・建物CDが存在することを確認
      if ( !owner_arr[trust.owner_id] ){
		  return;
      }

      if ( !build_arr[trust.building_id]){
		  return;
      }

      trust_arr[trust.id] = new google.maps.Polyline({
         map : mapCanvas
        ,path : [owner_arr[trust.owner_id].position, build_arr[trust.building_id].position]
        ,strokeColor: "blue"
        ,strokeOpacity:0.5
        ,strokeWeight:3
        ,zIndex:1
      });

      // 初期状態は非表示
      trust_arr[trust.id].set("visible", false);

      // ダブルクリック時のイベント登録
      trust_ev = trust_arr[trust.id]
      owner_ev = owner_arr[trust.owner_id]
      build_ev = build_arr[trust.building_id]

      // クリックした時のオブジェクトを保存するために、イベントは関数呼び出しで登録する。
      create_relation_listener(trust_ev, owner_ev, build_ev)
	});

    /* 営業所の情報を表示する */
    shop_arr = {}; // varを消してグローバル化
    shop_circle01_arr = {}; // varを消してグローバル化
    shop_circle02_arr = {}; // varを消してグローバル化
    var distination = new google.maps.MVCArray();
    var distination_arr = [];

    gon.shops.forEach(function(shop){

      pos = new google.maps.LatLng(shop.latitude, shop.longitude);
      bounds.extend(pos);

      shop_arr[shop.id] = createMarker({
        position : pos
        ,map : mapCanvas
        ,animation: google.maps.Animation.DROP
        ,icon : shop.icon
        ,info_msg : shop.name
        ,html : info_msg_shop(shop)
      });

      /* 営業所の円を作成 */
      shop_circle01_arr[shop.id] = create_circle(1000, mapCanvas, pos);
      shop_circle02_arr[shop.id] = create_circle(2000, mapCanvas, pos);

      /* 距離を測る対象を設定 */
      distination.push({name:shop.name, latLng:[shop.latitude, shop.longitude]});
      distination_arr.push(pos);
	});

    mapCanvas.fitBounds(bounds);

  } // end initialize

  google.maps.event.addDomListener(window, "load", initialize);

</script>

  <style type="text/css">
    html,  body{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    #map_canvas{
      position: fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0;
    }

    #top-menu{
      padding:0;
      margin:0;
    }
	
	a{
	  text-decoration:underline;	
	}
	
	.sample_01{
	width: 100%;
	border-collapse: collapse;
	}
	.sample_01 th{
	padding: 3px;
	text-align: left;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
	text-align: center;
	}
	.sample_01 td{
	padding: 3px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
	text-align:center;
	}	
	
  </style>

<% end %>



<script type="text/javascript">

	$(function () {
		$(".accordion .toggle").click(function () {
			$(this).next("ul").slideToggle(200);
			$(this).next("div").slideToggle(200);
	
			$(this).toggleClass("open");
		});
	});
	
	$(function() {
	  $( "#accordion" ).accordion();
	});
	

	
	var notice_disp;
	notice_disp = false;

	// 一覧を表示します。
	init_data_jqgrid();
	
	// 絞り込みテーブルを作成します。
	//init_search_jqgrid();
	
	function init_data_jqgrid(){
		// 列名の定義
 		var grid_name = [
			  "trust_id",
			  "building_id",
			  "owner_id",
			  "営業所",
			  "建物CD",
			  "建物名",
			  "建物住所",
			  "建物種別", 
			  "管理方式",
			  "築年数",
			  "部屋数",
			  "空室数",
		 	  "空室割合(%)",
			  "巡回清掃",
			  "給水設備",
			  "貯水槽清掃",
			  "エレベータ点検",
			  "防犯カメラ",
			  "貸主CD",
			  "貸主名",
			  "貸主住所" 
		];
		
		
		// 列属性の定義
		var grid_model = [
		  {name:"trust_id",  index:"trust_id",  align:"right",  classes:"no_class",  hidden:true,frozen:true}
 		 , {name:"owner_id",  index:"owner_id",  align:"right",  classes:"no_class",  hidden:true,frozen:true}
		 , {name:"building_id",  index:"building_id",  align:"right",  classes:"no_class",  hidden:true,frozen:true}
		 , {name:"shop_name",  index:"shop_name",  width:50,  align:"center",  classes:"no_class",frozen:true, stype: 'select', searchoptions:{ sopt:['eq'], value: "<%= @combo_shop %>" }}
		 , {name:"building_code",  index:"building_code",  width:80,  align:"center",  classes:"no_class",frozen:true, searchoptions:{ sopt:['eq']}}
		 , {name:"building_name",  index:"building_name",  width:100,  align:"center",  classes:"no_class",frozen:true}
		 , {name:"building_address",  index:"building_address",  width:70,  align:"center",  classes:"no_class"}
		 , {name:"build_type_name",  index:"build_type_name",  width:70,  align:"center",  classes:"no_class", stype: 'select', searchoptions:{ sopt:['eq'], value: "<%= @combo_build_type %>" }}
		 , {name:"manage_type_name",  index:"manage_type_name",  width:70,  align:"center",  classes:"no_class", stype: 'select', searchoptions:{ sopt:['eq'], value: "<%= @combo_manage_type %>" }}
		 , {name:"biru_age",  index:"biru_age",  width:70,  align:"center",  classes:"no_class", searchoptions:{ sopt:['eq']}}
		 , {name:"room_cnt",  index:"room_cnt",  width:70,  align:"center",  classes:"no_class", searchoptions:{ sopt:['eq']}}
		 , {name:"free_cnt",  index:"free_cnt",  width:70,  align:"center",  classes:"no_class", searchoptions:{ sopt:['eq']}}
		 , {name:"free_par",  index:"free_par",  width:70,  align:"center",  classes:"no_class", searchoptions:{ sopt:['eq']}}
		 
		 , {name:"trust_mente_junkai_seisou",  index:"trust_mente_junkai_seisou",  width:70,  align:"center",  classes:"no_class", formatter:'select', editoptions:{value:"0:×;1:○"}, stype: 'select', searchoptions:{ sopt:['eq'], value: ":;1:○;0:×" }}
		 , {name:"trust_mente_kyusui_setubi",  index:"trust_mente_kyusui_setubi",  width:70,  align:"center",  classes:"no_class", formatter:'select', editoptions:{value:"0:×;1:○"}, stype: 'select', searchoptions:{ sopt:['eq'], value: ":;1:○;0:×" }}
		 , {name:"trust_mente_tyosui_seisou",  index:"trust_mente_tyosui_seisou",  width:70,  align:"center",  classes:"no_class", formatter:'select', editoptions:{value:"0:×;1:○"}, stype: 'select', searchoptions:{ sopt:['eq'], value: ":;1:○;0:×" }}
		 , {name:"trust_mente_elevator_hosyu",  index:"trust_mente_elevator_hosyu",  width:70,  align:"center",  classes:"no_class", formatter:'select', editoptions:{value:"0:×;1:○"}, stype: 'select', searchoptions:{ sopt:['eq'], value: ":;1:○;0:×" }}
		 , {name:"trust_mente_bouhan_camera",  index:"trust_mente_bouhan_camera",  width:70,  align:"center",  classes:"no_class", formatter:'select', editoptions:{value:"0:×;1:○"}, stype: 'select', searchoptions:{ sopt:['eq'], value: ":;1:○;0:×" }}
		 
		 , {name:"owner_code",  index:"owner_code",  width:70,  align:"center",  classes:"no_class", searchoptions:{ sopt:['eq']}}
		 , {name:"owner_name",  index:"owner_name",  width:70,  align:"center",  classes:"no_class"}
		 , {name:"owner_address",  index:"owner_address",  width:70,  align:"center",  classes:"no_class"}

		];

		// その他の設定
		var jqgrid_opt = {
			 table_name:'building_table'
			, fotter_name:'building_pager'
			, div_name:'div_dummy_02'
			//, caption:'募集中物件を表示しています'
			, event_type:33
			, shrinkFit:true
			, multiselect:false
		};
		
		$(function(){
			jqgrid_create(grid_name,  grid_model,  gon.grid_data,  jqgrid_opt);
			
			jQuery("#building_table").navGrid('#building_pager',{ edit:false,add:false,del:false,search:false }).navButtonAdd('#building_pager',{
			        caption:"地図に反映", position:"last", onClickButton: function(){
						 
						// 建物非表示
						 for(var item in build_arr){
						    build_arr[item].set("visible", false);
						 };
						 
						 for(var item in owner_arr){
						    owner_arr[item].set("visible", false);
						 };
						 
						 for(var item in trust_arr){
						    trust_arr[item].set("visible", false);
						 };
						 
						 
						 //var bounds = new google.maps.LatLngBounds();
						 var table_div = $('#building_table');
						 var row_data = table_div.getRowData();
						 
						 for(var j in  row_data){
							
							 trust = trust_arr[row_data[j].trust_id];
							 if(trust != null){
	 							 trust.set("visible", true);
								 
							 }
							 
							 owner = owner_arr[row_data[j].owner_id];
							 if(owner != null){
	 							 owner.set("visible", true);
								 
							 }
							 
							 building = build_arr[row_data[j].building_id];
							 if(building != null){
	 							 building.set("visible", true);
								 
							 }
							 
						 }
						 
					 }
				 });
				 
   	  			// ファイル出力ボタン
   	  			jQuery("#building_table").navGrid('#building_pager',{
 				        edit:false, add:false, del:false, search:false
 				      }).navButtonAdd('#building_pager', {
 				        caption:"ファイル出力(部屋単位)",  position:"last",  onClickButton: function(){
 			            // 送信
 			            document.frm_out2csv.submit();

 			            return true;
				
 						}
 				 });
				 
				 
		});
		
		// resize
	    $(window).bind('resize', function () {
	        //$('#building_table').setGridWidth($(window).width() - 40 ).setGridHeight($(window).height() * 0.4 - 50);
	        //$('#building_pager').setGridWidth($(window).width() - 40 ).setGridHeight($(window).height() * 0.4 - 50);
			
	        $('#building_table').trigger("reloadGrid");
						
	    }).trigger('resize');
	 }	
</script>








  <!-- ここは span9で呼び出されているので合計も9に合わせる -->
	<a id="simple-menu" href="#sidr"></a>
	<div style="height:50%;padding:10px 20px 0px 20px;">
		
		<div id="div_dummy" style="float:left;width:20%;height:85%;padding:0;margin:0;padding-right:10px;">


			<div class="accordion ui-jqgrid  ui-widget-content ui-corner-all" style="width:100%;height:100%;margin-bottom:15px;" >
			    <ul>
			        <li>
			            <span class="toggle ui-jqgrid-view ui-jqgrid-titlebar ui-widget-header ui-corner-top" >								
					  <%= form_tag('/biruweb/property/change_biru_icon', :remote => true, :format => 'js', :name=>'biru_icon', :id=>'biru_icon_id') do %>
					    <%= select_tag 'disp_type', options_for_select({
						"建物種別" => "biru_kind",
						 "管理方式" => "manage_type",
						 "空室数" => "aki",
						 "築年数" => "age",
						 "戸数"=>"num",
						 "巡回清掃"=>"junkai_seisou",
						 "給水設備"=>"kyusui_setubi",
						 "貯水槽清掃"=>"tyosui_seisou",
						 "エレベータ点検"=>"elevator_hosyu",
						 "防犯カメラ"=>"bouhan_camera",
						 "支店"=>"siten",
						 "エリア" => "area",
						 "営業所" => "shop",
						 }), :onChange=>'change_icon();' %>
					    <%= submit_tag "", :name=>'s_commit', :style=>"display:none;" %>
					  <% end %>
											
						</span>
					</li>
			        <li>
						<!-- この li のなかでは divは使えない模様 -->
						<table>
							<tr>
								<td style="padding:10px;">

									
								</td>
							</tr>
							<tr>
								<td>
									
									
  <!-- 物件種別  -->
  <table style="margin-left:30px;"  id="biru_icon">
    <tbody>
      <tr>
        <td style="text-align:left;height:20px;width:25px;"><%= image_tag('marker_blue.png') %></td>
        <td style="font-size:medium;">アパート</td>
      </tr>
      <tr>
        <td><%= image_tag('marker_yellow.png') %></td>
        <td style="font-size:medium;">マンション</td>
      </tr>
      <tr>
        <td><%= image_tag('marker_purple.png') %></td>
        <td style="font-size:medium;">分譲M</td>
      </tr>
      <tr>
        <td><%= image_tag('marker_red.png') %></td>
        <td style="font-size:medium;">戸建て</td>
      </tr>
      <tr>
        <td><%= image_tag('marker_orange.png') %></td>
        <td style="font-size:medium;">テラス</td>
      </tr>
      <tr>
        <td><%= image_tag('marker_green.png') %></td>
        <td style="font-size:medium;">メゾネット</td>
      </tr>
      <tr>
        <td><%= image_tag('marker_gray.png') %></td>
        <td style="font-size:medium;">店舗等</td>
      </tr>
      <tr>
        <td><%= image_tag('marker_gray.png') %></td>
        <td style="font-size:medium;">事務所等</td>
      </tr>
      <tr>
        <td><%= image_tag('marker_white.png') %></td>
        <td style="font-size:medium;">その他</td>
      </tr>
    </tbody>
  </table>
					
	

								</td>
							</tr>
						</table>
					</li>
			    </ul>
			</div>
			
			
			<div class="accordion ui-jqgrid  ui-widget-content ui-corner-all" style="width:100%;" >
			    <ul>
			        <li>
			            <span class="toggle ui-jqgrid-view ui-jqgrid-titlebar ui-widget-header ui-corner-top" >基本メニュー</span>
					</li>
			        <li><%= link_to "一覧へ戻る",  {:action=>'index' + @neighborhood_params}, :onclick=>'javascript:screen_block();' %></li>
			    </ul>
			</div>
			

<!-- 
<div id="accordion">
  <h3>アイコン表示</h3>
  <div>
	<table >
	   <tbody>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_blue" src="/biruweb/assets/marker_blue.png" /></td>
	       <td style="text-align:left;">20枚フルセット</td>
	     </tr>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_yellow" src="/biruweb/assets/marker_yellow.png" /></td>
	       <td style="text-align:left;">10枚以上掲載</td>
	     </tr>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_red" src="/biruweb/assets/marker_red.png" /></td>
	       <td style="text-align:left;">10枚未満</td>
	     </tr>
		 
	   </tbody>
	 </table>
  </div>
  <h3>空室状況</h3>
  <div>
	<table >
	   <tbody>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_blue" src="/assets/marker_blue.png" /></td>
	       <td style="text-align:left;">20枚フルセット</td>
	     </tr>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_yellow" src="/assets/marker_yellow.png" /></td>
	       <td style="text-align:left;">10枚以上掲載</td>
	     </tr>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_red" src="/assets/marker_red.png" /></td>
	       <td style="text-align:left;">10枚未満</td>
	     </tr>
		 
	   </tbody>
	 </table>
  </div>
  <h3>Section 3</h3>
  <div>
	<table >
	   <tbody>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_blue" src="/assets/marker_blue.png" /></td>
	       <td style="text-align:left;">20枚フルセット</td>
	     </tr>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_yellow" src="/assets/marker_yellow.png" /></td>
	       <td style="text-align:left;">10枚以上掲載</td>
	     </tr>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_red" src="/assets/marker_red.png" /></td>
	       <td style="text-align:left;">10枚未満</td>
	     </tr>
		 
	   </tbody>
	 </table>
  </div>
  <h3>Section 4</h3>
  <div>
	<table >
	   <tbody>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_blue" src="/assets/marker_blue.png" /></td>
	       <td style="text-align:left;">20枚フルセット</td>
	     </tr>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_yellow" src="/assets/marker_yellow.png" /></td>
	       <td style="text-align:left;">10枚以上掲載</td>
	     </tr>
	     <tr>
	       <td style="text-align:left;height:30px;width:25px;"><img alt="Marker_red" src="/assets/marker_red.png" /></td>
	       <td style="text-align:left;">10枚未満</td>
	     </tr>
		 
	   </tbody>
	 </table>
  </div>
</div>
-->			
			
		</div>
		<div id="panowide" style="width: 100%; height: 0px;float:right;"></div>
		<div id="map_canvas" style="width: 80%;float:right;"></div>
		
	</div>
	<div id="div_dummy_02" style="clear:both;width:100%;height:40%;padding:10px 20px 10px 20px;margin-bottom:50px;">
		<table id="building_table"></table>
		<div id = "building_pager"></div>
	</div>
	
	<!-- リスト出力用 -->
	<%= form_tag({:action=>'csv_out'}, {:method=>'post', :name=>'frm_out2csv' }) do %>
	   <%= hidden_field_tag 'shop_list', @shop_where  %>
	<% end %>
	
	<!-- For index -->

	  <style type="text/css">
		
		a{
		  text-decoration:underline;	
		}
		
	  </style>
	  
