<h3><a href="http://pzazzzs022.polus.local/obic7/Webmenu30/" target="_blank">OBIC</a></h3>
<p class="discription">オービックの賃貸管理システム</p>

<h3><a href="http://pzazzzs032.polus.local/biruweb/CBMO110.html" target="_blank">新旧データ参照</a></h3>
<p class="discription">旧システム時代の登録情報も含めた賃貸システムの情報</p>


<h3><span style="text-decoration: underline">管理物件・家主 地図確認</span></h3>
<p>（１）検索条件を指定しての検索は<%= link_to "こちら", property_search_path, :style=>'text-decoration:underline;color:black' %></p>
<p>（２）営業所集計表からの検索は<%= link_to "こちら", property_path, :style=>'text-decoration:underline;color:black' %></p>
<p>（３）地図全体を表示するバージョンは<%= link_to "こちら", managements_path, :style=>'text-decoration:underline;color:black' %></p>


<!--
<h3><%= link_to "建物管理(定期メンテナンス）", biru_service_path %></h3>
<p>（２）４戸以上(≒１棟管理)のアパート・マンションで、１５平米以上での集計は<%= link_to "こちら", biru_service_path('room_all'), :style=>'text-decoration:underline;' %></p>
-->