<%= simple_form_for(@construction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :completion_check_person %>
    <%= f.input :completion_check_expected_date %>
    <%= f.input :completion_check_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
