<style type="text/css">
/* layout */
body,p,form,input{margin: 0}
#form{
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #555;
  }
 
form p{
    font-size: 14px;
    }
 
.form-title{
  text-align: center;
  }
 
.mail,.pass{
  margin-bottom: 20px;
  }
 
input[type=&quot;email&quot;],
input[type=&quot;password&quot;] {
  width: 300px;
  padding: 4px;
  font-size: 14px;
  }
     
.submit{
  text-align: right;
  }
 
/* font */
#form p{
  color: #5C6566;
  font-weight: bold;
  }
 
#form .form-title{
  font-family: Arial;
  font-size: 30px;
  color: #5C6566;
  }
 
/* skin */
#form{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #959A9B;
  -moz-box-shadow: 0px 1px 10px #959A9B;
  box-shadow: 0px 1px 10px #959A9B;
  border: solid #A1B1B3 1px;
  background: #fafafa;
  }
 
#form .form-title{
  padding-bottom: 6px;
  border-bottom: 2px solid #A1B1B3;
  margin-bottom: 20px;
  }
 
.submit input{
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 6px #e3e3e3;
  -moz-box-shadow: 0px 8px 6px #e3e3e3;
  box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  
  
  /* 以下、グラデーションの指定 */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5C6566), to(#5C6566));
  background: -moz-linear-gradient(top, #61c7e0, #418da8);
  
  /* ie7*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#5C6566', endColorstr='#5C6566'); /* IE5.5以上 */
  
  /* ie8,ie9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C6566', endColorstr='#5C6566', GradientType=0)";
 
  /* IE10 */  
  background: -ms-linear-gradient(left,  #5C6566,  #5C6566);
  
}
.submit input:hover{
  background: #37a4bf;
 }
</style>

<div id="form" style="margin-top:150px;">
	<p class="form-title">ビル管理　Webシステム</p>
<%= form_tag({:action=>'auth'}, {:name=>'login_form', :method=>'post'}) do %>
    <p>社員番号</p>
    <p class="email"><%= text_field_tag(:code, @login_code, { :size => 20 }) %></p>
    <p>パスワード</p>
    <p class="pass"><%= password_field_tag(:password, '', { :size => 20 }) %></p>
<p style="color: Red"><%= @error %></p>
		<% if params[:referer] %>
	    <%= hidden_field_tag :referer, params[:referer] %>
		<% else %>
	    <%= hidden_field_tag :referer, flash[:referer] %>
		<% end %>
    <p class="submit">
<%= submit_tag 'login' %></p>

<div style="color: Blue">賃貸管理システムへログインする時に使っている<br/>社員番号・パスワードを入力してください。</div>
<% end %>
<script type="text/javascript">
// フォーカスの初期セット
if(document.login_form.code.value == ""){
	document.login_form.code.focus();
}else{
	document.login_form.password.focus();
}
</script>


</div>



