  
<script type="text/javascript">

// 検索したときにローディング状態を表示
var restut_status;

$(document).ready(function(){

    $('#graph-submit-top').click(function(){
		if(restut_status == true){
	 		screen_block();
		}
    });
	
    $('#graph-submit-bottom').click(function(){
		if(restut_status == true){
	 		screen_block();
		}
    });
	
    $('#search-vacant').click(function(){
		if(restut_status == true){
	 		screen_block();
		}
    });
	
    $('#search-build-age').click(function(){
		if(restut_status == true){
	 		screen_block();
		}
    });
	
});


  var yyyymm_data = [
    { label:'年度',id: 6001,
      children: [
     //   {label: '2014年度', id:2014},
        {label: '2014年度', id:2014, yyyymm_s:201404, yyyymm_e:201503, title:'2014年度' },
        {label: '2013年度', id:2013, yyyymm_s:201304, yyyymm_e:201403, title:'2013年度' },
        {label: '2012年度', id:2012, yyyymm_s:201204, yyyymm_e:201303, title:'2012年度' },
        {label: '2011年度', id:2011, yyyymm_s:201104, yyyymm_e:201203, title:'2011年度' },
        {label: '2010年度', id:2010, yyyymm_s:201004, yyyymm_e:201103, title:'2010年度' },
        {label: '2009年度', id:2009, yyyymm_s:200904, yyyymm_e:201003, title:'2009年度' },
        {label: '月度指定',  id:1500, yyyymm_s:999999, yyyymm_e:999999, title:'月指定' }
      ]
    }
  ]

  // cookieに展開状況を保存するため、idは全てに付ける。
  var dept_data = [
    { label: '部署', id: 6100,
      children: [
        {
          label:'集計グループ別', id: 6101,
          children:[
            { label: '営業所グループ', id:6110,
              children:[
                { label: '全支店', id:910, graph_name: '営業所グループ：全支店', dept_list:[252,245,246,247]},
                { label: '全エリア', id:912, graph_name: '営業所グループ：全エリア', dept_list:[296, 297, 299, 300, 301]},
                { label: '全営業所', id:911, graph_name: '営業所グループ：全営業所', dept_list:[152,153,154,155,156,227,228,229,161,162,163,164,165,166,167,168,171,172,174,173,302]},
              ]
            },
            { label: '建物管理グループ', id:902, graph_name: '建物管理グループ', dept_list:[159, 169, 175] },
            { label: '不動産流通グループ', id:903, graph_name: '不動産流通グループ', dept_list:[230, 231, 232]  },
          ]
        },
        {
          label:'組織別', id: 6102,
          children: [
          {
              label: 'ビル管理全体', graph_name: 'ビル管理全体', id:252, dept_list:[252,245,246,247,243,248],
              children: [
                  { label: '東武支店',id:245, graph_name: '東武支店', dept_list:[245, 296, 297, 159, 230] ,
                    children: [
                      { label: '東武南',id:296, graph_name: '東武南', dept_list:[296, 152, 153, 154,155] ,
                        children: [
                          { label: '草加', id: 152, graph_name: '草加', dept_list:[152] },
                          { label: '草加新田', id: 153, graph_name: '草加新田', dept_list:[153] },
                          { label: '北千住', id: 154, graph_name: '北千住', dept_list:[154] },
                          {label: '南越谷', id:155, graph_name: '南越谷', dept_list:[155]  },
                        ]
                      },
                      { label: '東武北',id:297, graph_name: '東武北', dept_list:[297, 156, 227, 228, 229] ,
                        children:[
                          { label: '越谷', id:156, graph_name: '越谷', dept_list:[156]  },
                          { label: '北越谷', id: 227, graph_name: '北越谷', dept_list:[227] },
                          { label: '春日部', id: 228, graph_name: '春日部', dept_list:[228] },
                          { label: 'せんげん台', id: 229, graph_name: 'せんげん台', dept_list:[229] },
                        ]
                      },
                      { label: '東武建管',id:159, graph_name: '東武建管', dept_list:[159] },
                      { label: '東武流通',id:230, graph_name: '東武流通', dept_list:[230] },
                    ]
                  },
                  { label: 'さいたま支店',id:246, graph_name: 'さいたま支店', dept_list:[246, 299, 300, 169, 231] ,
                    children: [
                      { label:'さいたま中央', id:299, graph_name: 'さいたま中央', dept_list:[299, 302, 161, 162, 165, 164] ,
                        children:[
                          { label: '戸田公園', id:302, graph_name: '戸田公園', dept_list:[302] },
                          { label: '戸田', id:161, graph_name: '戸田', dept_list:[161] },
                          { label: '武蔵浦和', id:162, graph_name: '武蔵浦和', dept_list:[162] },
                          { label: '与野', id:165, graph_name: '与野', dept_list:[165] },
                          { label: '浦和', id:164, graph_name: '浦和', dept_list:[164] },
                        ]
                      },
                      { label:'さいたま東', id:300, graph_name: 'さいたま東', dept_list:[300, 163, 166, 167, 168] ,
                        children: [
                          { label: '川口', id:163, graph_name: '川口', dept_list:[163] },
                          { label: '東浦和', id:166, graph_name: '東浦和', dept_list:[166] },
                          { label: '東川口', id:167, graph_name: '東川口', dept_list:[167] },
                          { label: '戸塚安行', id:168, graph_name: '戸塚安行', dept_list:[168] },
                        ]
                      },
                      { label: 'さいたま建管',id:169, graph_name: 'さいたま建管', dept_list:[169] },
                      { label: 'さいたま流通',id:231, graph_name: 'さいたま流通', dept_list:[231] },
                    ]
                  },
                  { label: '千葉支店',id:247, graph_name: '千葉支店', dept_list:[247, 301, 175, 232] ,
                    children: [
                      { label:'常磐エリア', id:301, graph_name: '常磐エリア', dept_list:[301,171,172, 174, 173] ,
                        children:[
                          { label: '松戸', id:171, graph_name: '松戸', dept_list:[171] },
                          { label: '北松戸', id:172, graph_name: '北松戸', dept_list:[172] },
                          { label: '南流山', id:174, graph_name: '南流山', dept_list:[174] },
                          { label: '柏', id:173, graph_name: '柏', dept_list:[173] },
                        ]
                      },
                      { label: '千葉建管',id: 175, graph_name: '千葉建管', dept_list:[175] },
                      { label: '千葉流通',id: 232, graph_name: '千葉流通', dept_list:[232] },
                    ]
                  },
                  { label: 'アセット',id:243, graph_name: 'アセットマネジメント部', dept_list:[243, 209, 181] ,
                    children: [
                      { label: '保険課', id:209, graph_name: '保険課', dept_list:[209] },
                      { label: '法人課', id:181, graph_name: '法人課', dept_list:[181] },
                    ]
                  },
                  { label: 'ライフサービス課',id:248, graph_name: 'ライフサービス課', dept_list:[248] ,
                    children: [
                      { label: '損害サービス係', id:185, graph_name: '損害サービス係', dept_list:[185] },
                      { label: 'クリーンサービス係', id:186, graph_name: 'クリーンサービス係', dept_list:[186] },
                      { label: 'マンション管理係', id:287, graph_name: 'マンション管理係', dept_list:[287] },
                    ]
                  },

              ]
          },
          {
            label: 'ポラスアルファ', id:258, graph_name: 'ポラスアルファ', dept_list:[258]
          }

          ]
        }
      ]
    }
  ];

  var item_data = [
    { label: '項目', id: 6000,
      children: [
        {
          label: '月次報告書', id: 6010,
          children: [
            { label: '新規来店客数', id:'G-E0001' ,summary:1, calc:1},
            { label: '賃貸契約件数', id:'G-E0002' ,summary:1, calc:1},
          ]
        },
        {
          label: '損益項目', id: 6010,
          children: [
            { label: '売上高', id:'S-A0001' ,summary:1, calc:10000},
            { label: '粗利益', id:'S-B0010' ,summary:1, calc:10000},
            { label: '人件費', id:'S-A0003' ,summary:1, calc:10000},
            { label: '経費', id:'S-A0004' ,summary:1, calc:10000},
            { label: '経常利益', id:'S-A0007' ,summary:1, calc:10000},
          ]
        },
        {
          label: '営業所 主要項目', id: 6020,
          children: [
            { label: '受託戸数（他社）', id: 'E-B0001' ,summary:1, calc:1},
            { label: '受託戸数（自社）', id: 'E-B0002' ,summary:1, calc:1},
            { label: '賃貸管理手数料', id: 'E-41040' ,summary:1, calc:1},
            { label: '賃貸仲介件数', id: 'E-B0009' ,summary:1, calc:1},
            { label: '賃貸仲介手数料', id: 'E-Z0002' ,summary:1, calc:1},
            { label: '売買粗利益', id: 'E-B0003' ,summary:1, calc:1},
            { label: 'サブリース等売上', id: 'E-44020' ,summary:1, calc:1},
            { label: '再生事業売上(契約)', id: 'E-B0035' ,summary:1, calc:1},
            { label: '建物管理売上', id: 'E-41070' ,summary:1, calc:1},
            { label: '保険代理店手数料', id: 'E-41060' ,summary:1, calc:1},
            { label: '家賃立替手数料', id: 'E-B0004' ,summary:1, calc:1},
            { label: '付随商品手数料', id: 'E-45010' ,summary:1, calc:1},
            { label: '建築紹介件数', id: 'E-B0008' ,summary:1, calc:1},
            { label: '入居率', id: 'E-B0007' ,summary:2, calc:1},
            { label: '空室率', id: 'E-B0006' ,summary:2, calc:1},
            { label: '総管理戸数', id: 'E-B0005' ,summary:3, calc:1},
            { label: '家賃回収滞納率', id: 'E-B0090' ,summary:2, calc:1},
          ]
        },
        {
          label: '建管 主要項目', id: 6030,
          children: [
            { label: '原状回復工事売上', id: 'T-B0019' ,summary:1, calc:1},
            { label: '定期設備メンテ売上', id: 'T-B0020' ,summary:1, calc:1},
            { label: '提案設備メンテ売上', id: 'T-B0021' ,summary:1, calc:1},
            { label: '原状回復工事粗利益率', id: 'T-B0022' ,summary:2, calc:1},
            { label: '提案同行数', id: 'T-B0023' ,summary:1, calc:1},
            { label: 'サブリース等売上', id: 'T-44020' ,summary:1},
            { label: '建物管理売上', id: 'T-41070' ,summary:1, calc:1},
            { label: '付随商品手数料', id: 'T-45010' ,summary:1, calc:1},
            { label: '管理手数料', id: 'T-41040' ,summary:1, calc:1},
            { label: '解約精算・工事所要日数', id: 'T-B0091' ,summary:2, calc:1},
            { label: '工事代未収金100万以下', id: 'T-B0067' ,summary:3, calc:1},
          ]
        },
        {
          label: '流通 主要項目', id: 6040,
          children: [
            { label: '再生売上(契約)', id: 'R-B0035' ,summary:1, calc:1},
            { label: '売買粗利益（契約）', id: 'R-B0003' ,summary:1, calc:1},
            { label: '新築・注文契約件数', id: 'R-B0040' ,summary:1, calc:1},
            { label: '資産売却受託件数', id: 'R-B0039' ,summary:1, calc:1},
            { label: '自己開拓契約件数', id: 'R-B0093' ,summary:1, calc:1},
            { label: '再生事業粗利益（契約）', id: 'R-B0084' ,summary:1, calc:1},
          ]
        },
        {
          label: 'アセット', id: 6050,
          children: [
            { label: '保険課', id: 6051,
              children:[
                { label: '代理店手数料（契約）', id: 'H-B0025' ,summary:1, calc:1},
                { label: '代理店手数料（計上）', id: 'H-41060' ,summary:1, calc:1},
                { label: '火災独自新規契約件数', id: 'H-B0028' ,summary:1, calc:1},
                { label: '自動車保険継続率', id: 'H-B0029' ,summary:2, calc:1},
                { label: '自動車保険新規件数', id: 'H-B0031' ,summary:1, calc:1},
                { label: '入居者保険更新完了率', id: 'H-B0033' ,summary:2, calc:1},
                { label: '生命保険新規手数料', id: 'H-B0034' ,summary:1, calc:1},
                { label: '火災保険新規手数料', id: 'H-B0094' ,summary:1, calc:1},
                { label: '火災保険更新手数料', id: 'H-B0095' ,summary:1, calc:1},
              ]
            },
            { label: '法人課', id: 6052,
              children:[
                { label: '売買粗利益（契約）', id: 'H-B0003' ,summary:1, calc:1},
                { label: '賃貸仲介手数料', id: 'H-Z0002' ,summary:1, calc:1},
                { label: 'サブリース等売上', id: 'H-44020' ,summary:1, calc:1},
                { label: '法人賃貸紹介件数', id: 'H-B0037' ,summary:1, calc:1},
                { label: 'オーナー借上提案数', id: 'H-B0038' ,summary:1, calc:1},
                { label: 'サブリース等粗利率', id: 'H-B0092' ,summary:2, calc:1},
                { label: 'コインパーキング売上', id: 'H-B0200' ,summary:1, calc:1},
                { label: 'サブリース管理戸数', id: 'H-B0225' ,summary:3, calc:1},
              ]
            },
          ]
        },
        {
          label: 'ライフサービス 主要項目', id: 6060,
          children: [
            { label: 'クリーンサービス', id: 6061,
              children:[
                { label: 'ダミー', id: 111 },
              ]
            },
            { label: '損害サービス', id: 6062,
              children: [
                { label: '損害サービス受注金額', id: 'C-B0043' ,summary:1, calc:1},
                { label: '損害サービス受注件数', id: 'C-B0044' ,summary:1, calc:1},
                { label: '損害調査受注金額', id: 'C-B0233' ,summary:1, calc:1},
                { label: '損害調査受注件数', id: 'C-B0232' ,summary:1, calc:1},
                { label: '新規保険拠点開拓数', id: 'C-B0234' ,summary:1, calc:1},
                { label: '30日以内工事完了報告率', id: 'C-B0235' ,summary:2, calc:1},
                { label: '事故現場社員出勤率', id: 'C-B0296' ,summary:2, calc:1},
              ]
            },
            { label: 'マンション管理', id: 6063,
              children: [
                { label: '建物管理売上', id: 'M-41070' ,summary:1, calc:1},
                { label: '管理手数料', id: 'M-41040' ,summary:1, calc:1},
                { label: '分譲マンション受託数', id: 'M-B0217' ,summary:1, calc:1},
                { label: '新規委託契約組合数', id: 'M-B0410' ,summary:1, calc:1},
                { label: '新規見積り提出件数', id: 'M-B0411' ,summary:1, calc:1},
                { label: '管理移行検討組合数', id: 'M-B0412' ,summary:1, calc:1},
                { label: '報告書20日以内提出率', id: 'M-B0413' ,summary:2, calc:1},
              ]
            },
          ]
        },
        {
          label: 'ポラスアルファ', id: 6070,
          children: [
            { label: '契約書取得率', id: 'D-D0001' ,summary:2, calc:1},
            { label: '滞納賃料当月内回収率', id: 'D-D0003' ,summary:2, calc:1},
            { label: '前月分滞納賃料回収率', id: 'D-D0004' ,summary:2, calc:1},
            { label: '新規立替サービス契約件数', id: 'D-D0005' ,summary:1, calc:1},
            { label: '新規立替サービス契約手数料', id: 'D-D0006' ,summary:1, calc:1},
            { label: '他社切替えサービス契約件数', id: 'D-D0007' ,summary:1, calc:1},
            { label: '他社切替えサービス契約手数料', id: 'D-D0008' ,summary:1, calc:1},
            { label: '立替サービス引受保有件数', id: 'D-D0009' ,summary:1, calc:1},
            { label: '滞納賃料立替金額', id: 'D-D0012' ,summary:1, calc:1},
            { label: '滞納賃料立替件数', id: 'D0013' ,summary:1, calc:1},
            { label: '立替未収残高', id: 'D-D0014' ,summary:1, calc:1},
          ]
        },
        {
          label: '業務管理 項目', id: 6080,
          children: [
            { label: '職場巡回指摘改善数（総）　', id: 'G-B0600' ,summary:1, calc:1},
            { label: '18：00以降在社時間ﾗｲﾝ短縮（総）', id: 'G-B0601' ,summary:2, calc:1},
            { label: '総家賃延滞率（業）', id: 'G-B0213' ,summary:2, calc:1},
            { label: '更新書類回収率（業）', id: 'G-B0220' ,summary:2, calc:1},
            { label: '工事代金未収金額（業）', id: 'G-B0067' ,summary:1, calc:1},
            { label: '賃貸仲介手数料（品）', id: 'G-B0231' ,summary:1, calc:1},
            { label: '新規管理受託他社（品）', id: 'G-B0602' ,summary:1, calc:1},
            { label: 'システム開発進捗率（品）', id: 'G-B0603' ,summary:2, calc:1},
            { label: '初期修理発生率（品）', id: 'G-B0604' ,summary:2, calc:1},
            { label: 'デザインパック受注件数（品）', id: 'G-B0605' ,summary:1, calc:1},
            { label: '修理未完了件数（カ）', id: 'G-B0606' ,summary:1, calc:1},
            { label: '売買粗利益（売）', id: 'G-B0607' ,summary:1, calc:1},
            { label: '経常利益PH', id: 'G-B0017' ,summary:2, calc:1},
            { label: '粗利益PH', id: 'G-B0016' ,summary:2, calc:1},
          ]
        },
        {
          label: 'ハートフル 項目', id: 6100,
          children: [
            { label: '営業紹介', id: 'X-C0001' ,summary:1, calc:1},
            { label: '業者紹介', id: 'X-C0002' ,summary:1, calc:1},
            { label: '社員紹介', id: 'X-C0003' ,summary:1, calc:1},
          ]
        },
      ]
    }
  ];


  // cookieに展開状況を保存するため、idは全てに付ける。
  var shop_data = [
    { label: '営業所', id: 6100,
      children: [
      {
          label: 'ビル管理全体', id:'3,11,16,1,18,8,7,21,22,2,5,15,17,13,10,6,14,19,4,12,9', nm:'ビル全体',
          children: [
              { label: '東武支店',id:'3,11,16,1,18,8,7,21', nm:'東武支店',
                children: [
                  { label: '東武南',id:'3,11,16,1', nm:'東武南エリア',
                    children: [
                      { label: '草加', id: 3, nm:'草加営業所'},
                      { label: '草加新田', id: 11, nm:'草加新田営業所'},
                      { label: '北千住', id: 16, nm:'北千住営業所'},
                      { label: '南越谷', id:1, nm:'南越谷営業所' },
                    ]
                  },
                  { label: '東武北',id:'18,8,7,21', nm:'東武北エリア',
                    children:[
                      { label: '越谷', id:18, nm:'越谷営業所' },
                      { label: '北越谷', id: 8, nm:'北越谷営業所'},
                      { label: '春日部', id: 7, nm:'春日部営業所'},
                      { label: 'せんげん台', id: 21, nm:'せんげん台営業所'}
                    ]
                  },
                ]
              },
              { label: 'さいたま支店',id:'22,2,5,15,17,13,10,6,14', nm:'さいたま支店',
                children: [
                  { label:'さいたま中央', id:'22,2,5,13,17', nm:'さいたま中央エリア',
                    children:[
                      { label: '戸田公園', id:22, nm:'戸田公園営業所'},
                      { label: '戸田', id:2, nm:'戸田営業所'},
                      { label: '武蔵浦和', id:5, nm:'武蔵浦和営業所'},
                      { label: '与野', id:13, nm:'与野営業所'},
                      { label: '浦和', id:17, nm:'浦和営業所'},
                    ]
                  },
                  { label:'さいたま東', id:'15,10,6,14', nm:'さいたま東エリア',
                    children: [
                      { label: '川口', id:15, nm:'川口営業所'},
                      { label: '東浦和', id:10, nm:'東浦和営業所'},
                      { label: '東川口', id:6, nm:'東川口営業所'},
                      { label: '戸塚安行', id:14, nm:'戸塚安行営業所'},
                    ]
                  },
                ]
              },
              { label: '千葉支店',id:'19,4,12,9,999', nm:'千葉支店',
                children: [
                  { label:'常磐エリア', id:'19,4,12,9', nm:'常磐エリア',
                    children:[
                      { label: '松戸', id:19, nm:'松戸営業所'},
                      { label: '北松戸', id:4, nm:'北松戸営業所'},
                      { label: '南流山', id:12, nm:'南流山営業所'},
                      { label: '柏', id:9, nm:'柏営業所'},
                    ]
                  },
                ]
              },
          ]
      },
      ]
    }
  ];


  var layout_data = [
    { label: '間取り', id: 6000,
      children: [
        { label: '全て', id: 1001, layout_list: [18100, 18105, 18110, 18120, 18125, 18200, 18205, 18210, 18215, 18220, 18300, 18305, 18310, 18315, 18320, 18400, 18405, 18410, 18415, 18420, 18500, 18505, 18510, 18515, 18520, 18600, 18605, 18610, 18615, 18620, 18705, 18998]},
        { label: '１Ｒ〜１ＬＤＫ', id: 1010, layout_list: [18100, 18105, 18110, 18120, 18125],
          children: [
            { label: '１Ｒ', id:'1011' ,layout_list: [18100]},
            { label: '１Ｋ', id:'1012' ,layout_list: [18105]},
            { label: '１ＤＫ', id:'1013' ,layout_list: [18110]},
            { label: '１ＬＤＫ', id:'1014' ,layout_list: [18120]},
            { label: '１ＳＬＤＫ', id:'1015' ,layout_list: [18125]},
          ]
        },
        { label: '２Ｋ〜２ＬＤＫ', id: 1020, layout_list: [18200, 18205, 18210, 18215, 18220],
          children: [
            { label: '２Ｋ', id:'1022' ,layout_list: [18200]},
            { label: '２ＤＫ', id:'1023' ,layout_list: [18205]},
            { label: '２ＳＤＫ', id:'1024' ,layout_list: [18210]},
            { label: '２ＬＤＫ', id:'1025' ,layout_list: [18215]},
            { label: '２ＳＬＤＫ', id:'1026' ,layout_list: [18220]},
          ]
        },
        { label: '３Ｋ〜３ＬＤＫ', id: 1030, layout_list: [18300, 18305, 18310, 18315, 18320],
          children: [
            { label: '３Ｋ', id:'1032' ,layout_list: [18300]},
            { label: '３ＤＫ', id:'1033' ,layout_list: [18305]},
            { label: '３ＳＤＫ', id:'1034' ,layout_list: [18310]},
            { label: '３ＬＤＫ', id:'1035' ,layout_list: [18315]},
            { label: '３ＳＬＤＫ', id:'1036' ,layout_list: [18320]},
          ]
        },
        { label: '４Ｋ〜４ＬＤＫ', id: 1040, layout_list: [18400, 18405, 18410, 18415, 18420],
          children: [
            { label: '４Ｋ', id:'1042' ,layout_list: [18400]},
            { label: '４ＤＫ', id:'1043' ,layout_list: [18405]},
            { label: '４ＳＤＫ', id:'1044' ,layout_list: [18410]},
            { label: '４ＬＤＫ', id:'1045' ,layout_list: [18415]},
            { label: '４ＳＬＤＫ', id:'1046' ,layout_list: [18420]},
          ]
        },
        { label: '５Ｋ〜５ＬＤＫ', id: 1050, layout_list: [18500, 18505, 18510, 18515, 18520],
          children: [
            { label: '５Ｋ', id:'1052' ,layout_list: [18500]},
            { label: '５ＤＫ', id:'1053' ,layout_list: [18505]},
            { label: '５ＳＤＫ', id:'1054' ,layout_list: [18510]},
            { label: '５ＬＤＫ', id:'1055' ,layout_list: [18515]},
            { label: '５ＳＬＤＫ', id:'1056' ,layout_list: [18520]},
          ]
        },
        { label: '６Ｋ〜６ＬＤＫ', id: 1060, layout_list: [18600, 18605, 18610, 18615, 18620],
          children: [
            { label: '６Ｋ', id:'1062' ,layout_list: [18600]},
            { label: '６ＤＫ', id:'1063' ,layout_list: [18605]},
            { label: '６ＳＤＫ', id:'1064' ,layout_list: [18610]},
            { label: '６ＬＤＫ', id:'1065' ,layout_list: [18615]},
            { label: '６ＳＬＤＫ', id:'1066' ,layout_list: [18620]},
          ]
        },
        { label: 'その他', id: 1090, layout_list: [18705, 18998]},
      ]
    }
  ];


  var room_type_data = [
    { label: '部屋種別', id: 6000,
      children: [
        { label: '全て', id: 1001, list: [17010,17015,17020,17025,17030,17035,17040,17045,17050,17055,17060,17065]},
        { label: 'マンション', id:1002, list: [17010] },
        { label: '分譲賃貸マンション', id:1003, list: [17015] },
        { label: 'アパート', id:1004, list: [17020] },
        { label: '一戸建貸家', id:1005, list: [17025] },
        { label: 'テラスハウス', id:1006, list: [17030] },
        { label: 'メゾネット', id:1007, list: [17035] },
        { label: '店舗・事務所', id:1008, list: [17040, 17050] },
        { label: '店舗付住宅', id:1009, list: [17045] },
        { label: '工場・倉庫', id:1010, list: [17055, 17060, 17065] },

      ]
    }
  ];



$(function() {
	
	$('#jcrop_target_01').Jcrop();
	
    $('#tree-dept').tree({
        data: dept_data,
        saveState: 'c-dept'
    });

    $('#tree-item').tree({
        data: item_data,
        saveState: 'c-item'
    });

    $('#tree-yyyymm').tree({
        data: yyyymm_data,
        saveState: 'c-yyyymm'
    });

    $('#tree-shop').tree({
        data: shop_data,
        saveState: 'c-shop'
    });

    $('#tree-layout').tree({
        data: layout_data,
        saveState: 'c-layout'
    });

    $('#tree-room-type').tree({
        data: room_type_data,
        saveState: 'c-room_type'
    });

    $('#tree-item').bind('tree.select',　
      function(event) {
        if (event.node) {
          // もしも選択されたNodeが非選択対象(3000以上)だったら、選択状態を解除
          var node = event.node;
          var num = parseInt(node.id);
          if(isNaN(num) == false){
            if(num >= 6000){
              $('#tree-item').tree('removeFromSelection', node);
            }
          }
        }
      }
    );

    frm.monthly_yyyymm_from.disabled = true;
    frm.monthly_yyyymm_to.disabled = true;
    
    $('#tree-yyyymm').bind('tree.select',　
      function(event) {
        if (event.node) {
          // もしも選択されたNodeが非選択対象(3000以上)だったら、選択状態を解除
          var node = event.node;
          var num = parseInt(node.id);
          if(isNaN(num) == false){
            if(num >= 3000){
              $('#tree-yyyymm').tree('removeFromSelection', node);
            }

            // 1500の時に月次の活性を許可する
            if(num == 1500){
              frm.monthly_yyyymm_from.disabled = false;
              frm.monthly_yyyymm_to.disabled = false;

            } else{
              frm.monthly_yyyymm_from.disabled = true;
              frm.monthly_yyyymm_to.disabled = true;
            }
          }
        }
      }
    );

    $('#tree-dept').bind('tree.select',　
      function(event) {
        if (event.node) {
          // もしも選択されたNodeが非選択対象(3000以上)だったら、選択状態を解除
          var node = event.node;
          var num = parseInt(node.id);
          if(isNaN(num) == false){
            if(num >= 3000){
              $('#tree-dept').tree('removeFromSelection', node);
            }
          }
        }
      }
    );

    $('#tree-shop').bind('tree.select',　
      function(event) {
        if (event.node) {
          // もしも選択されたNodeが非選択対象(3000以上)だったら、選択状態を解除
          var node = event.node;
          var num = parseInt(node.id);
          if(isNaN(num) == false){
            if(num >= 3000){
              $('#tree-shop').tree('removeFromSelection', node);
            }
          }
        }
      }
    );

    $('#tree-layout').bind('tree.select',　
      function(event) {
        if (event.node) {
          // もしも選択されたNodeが非選択対象(3000以上)だったら、選択状態を解除
          var node = event.node;
          var num = parseInt(node.id);
          if(isNaN(num) == false){
            if(num >= 3000){
              $('#tree-layout').tree('removeFromSelection', node);
            }
          }
        }
      }
    );

    $('#tree-build-type').bind('tree.select',　
      function(event) {
        if (event.node) {
          // もしも選択されたNodeが非選択対象(3000以上)だったら、選択状態を解除
          var node = event.node;
          var num = parseInt(node.id);
          if(isNaN(num) == false){
            if(num >= 3000){
              $('#tree-build-type').tree('removeFromSelection', node);
            }
          }
        }
      }
    );


    <%# yyyymm pikerの活性化 %>
    <% if @yyyymm_pick %>
      frm.monthly_yyyymm_from.disabled = false;
      frm.monthly_yyyymm_to.disabled = false;

    <% else %>
      frm.monthly_yyyymm_from.disabled = true;
      frm.monthly_yyyymm_to.disabled = true;
    <%  end %>


});

function graph_disp(){

  restut_status = false;

  frm.yyyymm_s.value = $('#tree-yyyymm').tree('getSelectedNode').yyyymm_s;
  if(frm.yyyymm_s.value =='undefined' ){
    alert('期間を指定してください');
    return;
  }

  frm.yyyymm_e.value = $('#tree-yyyymm').tree('getSelectedNode').yyyymm_e;
  if(frm.yyyymm_e.value =='undefined' ){
    alert('期間を指定してください');
    return;
  }

  frm.yyyymm_title.value = $('#tree-yyyymm').tree('getSelectedNode').title;
  if(frm.yyyymm_title.value =='undefined' ){
    alert('期間を指定してください');
    return;
  }

  // 月度指定の時、月度入力チェック
  if(frm.yyyymm_s.value == "999999"){

    if(frm.monthly_yyyymm_from.value == ""){
      alert('開始月度を指定してください');
      return;
    }

    if(frm.monthly_yyyymm_to.value == ""){
      alert('最終月度を指定してください');
      return;
    }

    frm.yyyymm_title.value = frm.monthly_yyyymm_from.value + "〜" + frm.monthly_yyyymm_to.value
    frm.yyyymm_type.value = "1"

  }else{
    frm.yyyymm_type.value = "0"
  }

  frm.yyyymm_s_monthly.value = frm.monthly_yyyymm_from.value;
  frm.yyyymm_e_monthly.value = frm.monthly_yyyymm_to.value;

  frm.item.value = $('#tree-item').tree('getSelectedNode').id;
  if(frm.item.value =='undefined' ){
    alert('項目を指定してください');
    return;
  }

  frm.item_summary.value = $('#tree-item').tree('getSelectedNode').summary;
  if(frm.item_summary.value =='undefined' ){
    alert('集計種別が未定義の項目です');
    return;
  }

  frm.item_calc.value = $('#tree-item').tree('getSelectedNode').calc;
  if(frm.item_calc.value =='undefined' ){
    alert('表示単位が未定義の項目です');
    return;
  }

  frm.dept.value = $('#tree-dept').tree('getSelectedNode').id;
  if(frm.dept.value =='undefined' ){
    alert('部署を指定してください');
    return;
  }

  frm.dept_list.value = $('#tree-dept').tree('getSelectedNode').dept_list
  if(frm.dept_list.value =='undefined' ){
    alert('dept_listが未定義です');
    return;
  }

  frm.graph_name.value = $('#tree-dept').tree('getSelectedNode').graph_name
  if(frm.graph_name.value =='undefined' ){
    alert('graph_nameが未定義です');
    return;
  }

  restut_status = true;
  frm.submit();
}


// 築年数表示
function build_age_disp(){
	
  restut_status = false;
	
  frm_build_age.shop.value = $('#tree-shop').tree('getSelectedNode').id;
  if(frm_build_age.shop.value =='undefined' ){
    alert('営業所を指定してください');
    return;
  }

  frm_build_age.shop_nm.value = $('#tree-shop').tree('getSelectedNode').nm;
  frm_build_age.action = (<%= raw("'") + performances_build_age_path + raw("'") %>)

  restut_status = true;
  frm_build_age.submit();
}

// 空日数を表示
function vacant_dips(){
	
  restut_status = false;
	
  frm_build_age.shop.value = $('#tree-shop').tree('getSelectedNode').id;
  if(frm_build_age.shop.value =='undefined' ){
    alert('営業所を指定してください');
    return;
  }

  frm_build_age.shop_nm.value = $('#tree-shop').tree('getSelectedNode').nm;
  frm_build_age.action = (<%= raw("'") + performances_vacant_day_path + raw("'") %>)

  restut_status = true;
  frm_build_age.submit();
}


// 入居期間を表示
function tenancy_period_dips(){

  restut_status = false;

  frm_build_age.shop.value = $('#tree-shop').tree('getSelectedNode').id;
  if(frm_build_age.shop.value =='undefined' ){
    alert('営業所を指定してください');
    return;
  }

  frm_build_age.layout.value = $('#tree-layout').tree('getSelectedNode').layout_list;
  if(frm_build_age.layout.value =='undefined' ){
    alert('間取りを指定してください');
    return;
  }

  frm_build_age.room_type.value = $('#tree-room-type').tree('getSelectedNode').list;
  if(frm_build_age.room_type.value =='undefined' ){
    alert('部屋種別を指定してください');
    return;
  }

  var number = frm_build_age.lease_month.value;
  if(number == ''){
    alert("入居期間のヶ月を設定してください。");
    return;
  }

  if(number.match(/[^0-9]+/)){    		//数字以外の文字である場合
    alert("ヶ月に数字以外の文字が入力されています。もう一度確認して下さい。");
    return;
  }

  frm_build_age.shop_nm.value = $('#tree-shop').tree('getSelectedNode').nm;
  frm_build_age.action = (<%= raw("'") + performances_tenancy_period_path + raw("'") %>)

  restut_status = true;
  frm_build_age.submit();
}


  // Ajaxのオープンクローズ
function openClose(id, mid, disp_msg)
{
   var target = document.getElementById(id);
   var targetmsg = document.getElementById(mid);
   if(target)
   {
      var disp = target.style.display;
      var msg  = targetmsg.firstChild.nodeValue;

      if(disp == 'none')
      {
         disp='';
         msg= disp_msg + 'を非表示';
      }
      else
      {
         disp='none';
         msg= disp_msg + 'を表示';
      }
     
     target.style.display = disp;
     targetmsg.firstChild.nodeValue = msg;
   }
}




</script>
<% content_for :sidebar do %>

    <style type="text/css">

      /* リキッドレイアウトを使って左固定バーと共にmainは可変100%に */
      div#top-wrapper{
        width:95%;
      }

      div#top-contents{
        width: 100%;
        float: right;
      }

      div#top-contents-main{
        margin-left: 250px;
      }

      div#top-sidebar{
        width: 250px;
        margin-right: -250px;
        float: left;
      }
    </style>

    <div id="sidebar" style="padding-left:10px;padding-right:10px;">
      <ul class="nav nav-tabs">
        <li <%= if val == 1 then raw('class="active"') end %>><a href="#tab_month" data-toggle="tab" style=";padding:10px 10px 5px 10px;width:100px;text-align: center;">業績確認</a></li>
        <li  <%= if val == 2 then raw('class="active"') end %>><a href="#tab_etc" data-toggle="tab" style="padding:10px 5px 5px 5px;width:100px;text-align: center;">その他</a></li>
      </ul>
      <div id="myTabContent_search" class="tab-content">
        <div class="tab-pane fade <%= if val == 1 then raw('active in') end %>" id="tab_month" style="padding:0;margin:0">

          <%= form_tag performances_monthly_path ,:name=>"frm" do %>
            <%= hidden_field_tag 'yyyymm_s', '' %>
            <%= hidden_field_tag 'yyyymm_e', '' %>
            <%= hidden_field_tag 'yyyymm_s_monthly', '' %>
            <%= hidden_field_tag 'yyyymm_e_monthly', '' %>
            <%= hidden_field_tag 'yyyymm_title', '' %>
            <%= hidden_field_tag 'yyyymm_type', '' %>
            <%= hidden_field_tag 'item', '' %>
            <%= hidden_field_tag 'item_summary', '' %>
            <%= hidden_field_tag 'item_calc', '' %>
            <%= hidden_field_tag 'dept', '' %>
            <%= hidden_field_tag 'dept_list', '' %>
            <%= hidden_field_tag 'graph_name', '' %>

            <ul class="nav nav-list well" >
              <div style="text-align: center;">
                <%= button_tag "グラフ表示" ,:type=>'button', :style=>'margin-bottom:15px;margin-top:0px;', :id=>'graph-submit-top', :onClick=>"javascript:graph_disp();" %>
              </div>

              <div id="tree-yyyymm"></div>
              <div>
                <label ><%= text_field_tag 'monthly_yyyymm_from', @yyyymm_s_monthly, :class=>'ympicker', :style=>'width:80px;text-align:center;' %>&nbsp;＋&nbsp;<%= text_field_tag 'monthly_yyyymm_to', @yyyymm_e_monthly, :class=>'ympicker', :style=>'width:80px;text-align:center;' %></label>
              </div>

              <div id="tree-dept"></div>
              <div id="tree-item"></div>

              <div style="text-align: center;">
                <%= button_tag "グラフ表示" ,:type=>'button', :style=>'margin-top:20px;', :id=>'graph-submit-bottom', :onClick=>"javascript:graph_disp();" %>
              </div>
            </ul>
          <% end %>

        </div>
        <div class="tab-pane fade <%= if val == 2 then raw('active in') end %>" id="tab_etc" >

          <%= form_tag '' ,:name=>"frm_build_age" do %>
            <%= hidden_field_tag 'shop', '' %>
            <%= hidden_field_tag 'shop_nm', '' %>
            <%= hidden_field_tag 'layout', '' %>
            <%= hidden_field_tag 'room_type', '' %>

            <ul class="nav nav-list well" style="margin-bottom:15px;">
              <div id="tree-shop"　class="nav nav-list well"></div>
            </ul>

            <!-- 築年数 -->
            <ul class="nav nav-list well" style="margin-bottom:15px;">
              <div style="text-align: center;">
                <%= button_tag "築年数を表示" ,:type=>'button', :id=>'search-build-age', :onClick=>"javascript:build_age_disp();" %>
              </div>
            </ul>

            <!-- 空日数 -->
            <ul class="nav nav-list well"  style="margin-bottom:15px;">
              <div style="text-align: center;">
                <div>
                  <label ><%= text_field_tag 'yyyymm_before', @vacant_yyyymm_before, :class=>'ympicker', :style=>'width:80px;text-align:center;' %>&nbsp;＋&nbsp;<%= text_field_tag 'yyyymm_current', @vacant_yyyymm_current, :class=>'ympicker', :style=>'width:80px;text-align:center;' %></label>
                </div>

                <%= button_tag "空日数を表示" ,:type=>'button', :id=>'search-vacant', :onClick=>"javascript:vacant_dips();" %>
              </div>
            </ul>

            <!-- 入居期間 -->
<!--
            <ul class="nav nav-list well"  style="margin-bottom:15px;">
              <div id="tree-layout"　class="nav nav-list well" style="margin-bottom:5px;"></div>
              <div id="tree-room-type"　class="nav nav-list well" style="margin-bottom:5px;"></div>
              <div style="margin-left:10px;margin-bottom: 0px;padding-bottom: 0px;">
                <label><%= text_field_tag 'lease_month', @lease_month, :style=>'width:30px;text-align:center;' %>&nbsp;ヶ月以上の入居契約</label>
              </div>
              <div style="margin-left:25px;">
                <label><%= check_box_tag('kaiyaku', true, @lease_kaiyaku) %>&nbsp;&nbsp;解約済みも含む</label>
              </div>
              <div style="text-align: center;">
                <%= button_tag "入居期間を表示" ,:type=>'button', :onClick=>"javascript:tenancy_period_dips();" %>
              </div>
            </ul>
-->
          <% end %>


        </div>
      </div>
    </div>
<% end %>
