<%= render :partial=>'sidebar', :locals=>{:val => 2} %>

<div style="text-align: center;margin: 0 auto;">
  <div style="text-align: right;margin: 0 auto;"><%= high_chart("chart-1", @vacant_sum) %></div>
</div>

<table class="table table-striped table-bordered table-condensed" id="p_30005">
  <thead>
    <tr>
      <th style="text-align:center;">空日数</th>
      <% @category_arr.each do |cate| %>
        <th style="text-align:center"><%= cate.gsub('〜','') %></th>
      <% end %>
      <th style="text-align:center">合計</th>
    </tr>
    <tr>
      <td style="text-align:center"><%= @vacant_yyyymm_before %></td>
      <% sum = 0 %>
      <% @vacant_before_map.values.each do |rec| %>
        <td style="text-align:center"><%= rec %></td>
        <% sum = sum + rec %>
      <% end %>
      <td style="text-align:center"><%= sum %></td>
    </tr>
    <tr>
      <td style="text-align:center"><%= @vacant_yyyymm_current %></td>
      <% sum = 0 %>
      <% @vacant_current_map.values.each do |rec| %>
        <td style="text-align:center"><%= rec %></td>
        <% sum = sum + rec %>
      <% end %>
      <td style="text-align:center"><%= sum %></td>
    </tr>
    <tr>
      <% sum = 0 %>
      <td style="text-align:center">差</td>
      <% @category_arr.each do |cate| %>
        <% rec =  @vacant_current_map[cate].to_i - @vacant_before_map[cate].to_i  %>
        <td style="text-align:center"><%= rec %></td>
        <% sum = sum + rec %>
      <% end %>
      <td style="text-align:center"><%= sum %></td>
    </tr>

  </thead>

</table>


<div>
  <a href="javascript:void(0);" onclick="openClose('p_30001','p_30001_detail', <%= raw("'[ " + @vacant_yyyymm_before + " ] 合計" + @vacant_detail_before.length.to_s + "戸'") %> )"><span id="p_30001_detail">内訳を表示</span></a>
</div>


<table class="table table-striped table-bordered table-condensed" id="p_30001">
  <thead>
    <tr>
      <th>空日数</th>
      <th>営業所</th>
      <th>間取り</th>
      <th>建物CD</th>
      <th>建物名</th>
      <th>部屋</th>
      <th>管理方式</th>
    </tr>
  </thead>
  <tbody>
    <% @vacant_detail_before.each do |vacant| %>
    <tr>
      <td style="text-align: center"><%= vacant.vacant_cnt.to_s + '日' %></td>
      <td><%= vacant.shop_nm %></td>
      <td><%= vacant.room_layout_nm %></td>
      <td><%= vacant.building_cd %></td>
      <td><%= vacant.building_nm %></td>
      <td><%= vacant.room_nm %></td>
      <td><%= vacant.manage_type_nm %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<div>
  <a href="javascript:void(0);" onclick="openClose('p_30000','p_30000_detail', <%= raw("'[ " + @vacant_yyyymm_current + " ] 合計" + @vacant_detail_current.length.to_s + "戸'") %> )"><span id="p_30000_detail">内訳を表示</span></a>
</div>

<table class="table table-striped table-bordered table-condensed" id="p_30000">
  <thead>
    <tr>
      <th>空日数</th>
      <th>営業所</th>
      <th>間取り</th>
      <th>建物CD</th>
      <th>建物名</th>
      <th>部屋</th>
      <th>管理方式</th>
    </tr>
  </thead>
  <tbody>
    <% @vacant_detail_current.each do |vacant| %>
    <tr>
      <td style="text-align: center"><%= vacant.vacant_cnt.to_s + '日' %></td>
      <td><%= vacant.shop_nm %></td>
      <td><%= vacant.room_layout_nm %></td>
      <td><%= vacant.building_cd %></td>
      <td><%= vacant.building_nm %></td>
      <td><%= vacant.room_nm %></td>
      <td><%= vacant.manage_type_nm %></td>
    </tr>
    <% end %>
  </tbody>
</table>


  <script type="text/javascript">
  <!--
    openClose('p_30000','p_30000_detail', <%= raw("'[ " + @vacant_yyyymm_current + " ] 合計" + @vacant_detail_current.length.to_s + "戸'") %> )
    openClose('p_30001','p_30001_detail', <%= raw("'[ " + @vacant_yyyymm_before + " ] 合計" + @vacant_detail_before.length.to_s + "戸'") %> )
  //-->
</script>


