<div class="table-responsive panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <td colspan="2" class="biru-back-color-blue" style="font-weight:bold;">貸主基本情報</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align:right;">貸主CD</td>
          <td><%= @owner.code %></td>
        </tr>
        <tr>
          <td style="text-align:right;">名前</td>
          <td><%= @owner.name %>（<%= @owner.kana %>）<%= @owner.honorific_title if @owner.honorific_title%></td>
        </tr>
        <tr>
          <td style="text-align:right;">電話番号</td>
          <td><%= @owner.tel %><%= " | " + @owner.tel2 if @owner.tel2 %></td>
        </tr>
        <tr>
          <td style="text-align:right;">住所</td>
          <td><%= @owner.address %></td>
        </tr>
        <tr>
          <td style="text-align:right;">添付書類</td>
          <td><a data-toggle="modal" href="#modal-owner-document"><%= @owner.documents.count %>件</a></td>
        </tr>
        <% @owner_hosoku.each do |hosoku| %>
        <tr>
            <td style="text-align:right;"><%= hosoku['Title'] %></td>
            <td><%= hosoku['HosokuKoumoku'] %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
