<script type="text/javascript">

  /* 営業所チェック制御 */
  $(document).ready(function(){
	  
  	// 検索したときにローディング状態を表示
      $('#owner-search').click(function(){
		  screen_block();
	
    });
  });
</script>	 

<div class="row" style="margin-left:0px;">
  <div class="col-lg-12">
    <div class="well">
        <%= form_tag('/biruweb/managements/search_owners') do %>

          <%= text_field_tag 'owner_name', @owner_nm, :placeholder=>'オーナー名' %>
          <%= text_field_tag 'owner_address', @owner_ad, :placeholder=>'住所' %>
        	<%= hidden_field_tag 'user_id', @biru_user.id %>

          <div style="padding-top:20px;text-align: center;">
            <%= submit_tag "検索を実行", :class=>'btn btn-large btn-primary', :id=>'owner-search'  %>
          </div>


        <% end %>

    </div>
  </div>
</div>
